<div class="cards">
<mat-card class="card" routerLink="/Business">
  <mat-card-content>Business Process Alignment</mat-card-content>
</mat-card>
<mat-card class="card" routerLink="/Business">
  <mat-card-content>Traceability Management</mat-card-content>
</mat-card>
<mat-card class="card" routerLink="/Business">
  <mat-card-content>Recall Management</mat-card-content>
</mat-card>
<mat-card class="card" routerLink="/Business">
  <mat-card-content>Edge Data Management</mat-card-content>
</mat-card>

</div>


